{% extends "base.html" %}

{% block title %}Welcome | django-twfy{% endblock %}

{% block content %}

<h2>Front page</h2>
<h3>Showing only links to pages which actually exist right now</h3>

<h4>People</h4>
        <p>
                <ul>
                        <li><a href="/members/">List of all TDs and Senators</a></li>
                </ul>
        </p>

<h4>Debates (Dáil)</h4>
        <ul>
                <p>
                        <li>Dáil
                                <ul>
                                        <li><a href="/debates/2004/">2004</a></li>
                                        <li><a href="/debates/2005/">2005</a></li>
                                        <li><a href="/debates/2006/">2006</a></li>
                                        <li><a href="/debates/2007/">2007</a></li>
                                        <li><a href="/debates/2008/">2008</a></li>
                                        <li><a href="/debates/2009/">2009</a></li>
                                        <li><a href="/debates/2010/">2010</a></li>
                                </ul>
                        </li>
                </p>
        </ul>

{% endblock %}
