{% extends "base.html" %}
{% load rendercalendar %}
{% block title %}Debates for {{ year }}  | django-twfy{% endblock %}

{% block content %}

<h2>{{ title }}</h2>

{% ifequal house 1 %} 
<h3>Dáil Debates for {{ year }}</h2>
{% endifequal %}

{% ifequal house 7 %} 
<h3>Seanad Debates for {{ year }}</h2>
{% endifequal %}

{% ifequal house 3 %} 
<h3>Written Questions for {{ year }}</h2>
{% endifequal %}


{% if date_list %}
	<div class="calendar">
		<table border="0">
		<caption>January {{ year }}</caption>
		{% monthcal year 01 house path %}
		</table>
	</div>
	<div class="calendar">
		<table border="0">
		<caption>February {{ year }}</caption>
		{% monthcal year 02 house path %}
		</table>
	</div>
	<div class="calendar">
		<table border="0">
		<caption>March {{ year }}</caption>
		{% monthcal year 03 house path %}
		</table>
	</div>
	<div class="calendar">
		<table border="0">
		<caption>April {{ year }}</caption>
		{% monthcal year 04 house path %}
		</table>
	</div>
	<div class="calendar">
		<table border="0">
		<caption>May {{ year }}</caption>
		{% monthcal year 05 house path %}
		</table>
	</div>
	<div class="calendar">
		<table border="0">
		<caption>June {{ year }}</caption>
		{% monthcal year 06 house path %}
		</table>
	</div>
	<div class="calendar">
		<table border="0">
		<caption>July {{ year }}</caption>
		{% monthcal year 07 house path %}
		</table>
	</div>
	<div class="calendar">
		<table border="0">
		<caption>August {{ year }}</caption>
		{% monthcal year 08 house path %}
		</table>
	</div>
	<div class="calendar">
		<table border="0">
		<caption>September {{ year }}</caption>
		{% monthcal year 09 house path %}
		</table>
	</div>
	<div class="calendar">
		<table border="0">
		<caption>October {{ year }}</caption>
		{% monthcal year 10 house path %}
		</table>
	</div>
	<div class="calendar">
		<table border="0">
		<caption>November {{ year }}</caption>
		{% monthcal year 11 house path %}
		</table>
	</div>
	<div class="calendar">
		<table border="0">
		<caption>December {{ year }}</caption>
		{% monthcal year 12 house path %}
		</table>
	</div>

{% else %}
    <p>No dates are listed.</p>
{% endif %}


{% endblock %}
