{% extends "base.html" %}
{% load gencal %}

{% block title %}Hansard object with ID {{ parent.id }}  | django-twfy{% endblock %}

{% block content %}

{% ifequal parent.major 1 %}
    <h2>Dáil Debates</h2>
{% endifequal %}

{% ifequal parent.major 3 %}
    <h2>Written Answers</h2>
{% endifequal %}

{% ifequal parent.major 7 %}
    <h2>Seanad Debates</h2>
{% endifequal %}

<h3>{{ parent.hdate|date:"l, F jS Y" }}</h3>


{% for hansard in hansards %}
        {% ifequal hansard.htype 11 %}
            <h4>{{ hansard.epobject.body }}</h4>
        {% endifequal %}
        
	{% ifnotequal hansard.htype 10 %}
        {% ifnotequal hansard.htype 11 %}
        <div class="stripe-{% cycle '1' '2' %}" id="g{{ hansard.gid|slice:"36:" }}">    
	    <div class="main">
            <a name="g{{ hansard.gid|slice:"36:" }}"></a>
            <p class="speaker"><a href="/members/{{ hansard.speaker_id.id }}" title="See more information about {{ hansard.speaker_id.first_name }} {{ hansard.speaker_id.last_name }}"><img src="http://www.kildarestreet.com/images/mps/{{ hansard.speaker_id.person_id }}.jpg" class="portrait" alt="Photo of {{ hansard.speaker_id.first_name }} {{ hansard.speaker_id.last_name }}"><strong>{{ hansard.speaker_id.first_name }} {{ hansard.speaker_id.last_name }}</strong></a> <small>({{ hansard.speaker_id.party }}, {{ hansard.speaker_id.constituency }})</small></p>
            <p>{{ hansard.epobject.body|safe }}</p>
            </div>
        </div>
        {% endifnotequal %}
        {% endifnotequal %}
{% endfor %}

{% endblock %}


